/*sidebar*/
#menuIndex {overflow:auto;}
#menuIndex a {display:block; padding:2px 0; }
#menuIndex a:hover {color:#ea6753;text-decoration:none;}
#menuIndex ul {margin-bottom:0px;list-style: none;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li:last-child {margin-bottom:0px;}
#menuIndex ul li.on{background-color: #474747;}
#menuIndex li.h1{font-size:14px;font-weight:bold;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}
/*duoshuo css*/
.ds-avatar{
	box-shadow: none!important;
}
#ds-reset .ds-avatar img {
  width: 54px !important;
  height: 54px !important;
  -webkit-border-radius: 27px !important;
  -moz-border-radius: 27px !important;
  border-radius: 27px !important;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}
#ds-reset .ds-avatar img:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);

}
#ds-reset .ds-powered-by {
  display: none;
}